services:
  djangopardy:
    container_name: djangopardy
    image: codeberg.org/margau/djangopardy:latest@sha256:1971ca867dd8b58e43f728cf1c36e54a0e0ac2f684ed05915fa55d54b6060798
    volumes: 
    - ./files:/app/files
    - ./djangopardy.cfg:/app/djangopardy.cfg
    - ./db.sqlite3:/app/db.sqlite3
    - static:/app/static
  
  nginx:
    image: nginx:latest@sha256:341bf0f3ce6c5277d6002cf6e1fb0319fa4252add24ab6a0e262e0056d313208
    ports:
      - "8000:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./files:/media:ro
      - static:/static:ro
    depends_on:
      - djangopardy

volumes:
  static: