{% extends "base.html" %}
{% block site-title %}Cardset "{{ cardset.name }}"{% endblock %}

{% block content %}
<h2>Rounds</h2>
  <ul class="list-group">
    {% for x in gamerounds %}
      <li class="list-group-item"><a href="/gameround/{{ x.id }}"><button type="button" class="btn btn-primary">{{x.name}}</button></a> (Started {{x.start_time}})</li>
    {% endfor %}
  </ul>
  <form method="post" class="row justify-content-center">

    {% csrf_token %}
      <div class="col-auto">
        <label for="inputName" class="">Name der neuen Runde</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Erstellen</button>
      </div>

</form>
<div class="row mt-5">
  <div class="col">
    <h3>AnswerQuestion Count</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Categories</th>
        {% for x in points %}
        <th>{{ x.points }}</th>
        {% endfor %}
      </thead>
      <tbody>
      {% for c in answer_count %}
      <tr>
        {% for x in c %}
        <td>
          {{ x }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      
    </tbody>
    </table>
  </div>
</div>
{% endblock %}