{% extends "base.html" %}
{% block site-title %}Spieler für "{{ gameround.name }}"{% endblock %}

{% block content %}
<h3>Kartensatz "{{gameround.cardset.name }}"</h3>
  <ul class="list-group">
    {% for x in players %}
      <li class="list-group-item">{{x.name}}</li>
    {% endfor %}
  </ul>
  <form method="post" class="row justify-content-center">

    {% csrf_token %}
      <div class="col-auto">
        <label for="inputName" class="">Name des Spielers</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Erstellen</button>
      </div>

</form>
<a href="/play/{{ gameround.id }}"><button type="button" class="btn btn-primary">Spiel starten</button></a>
{% endblock %}