{% extends "base.html" %}
{% block site-title %}Spiel "{{ gameround.name }}"{% endblock %}

{% block content %}
<h3>Kartensatz "{{gameround.cardset.name }}"</h3>
<div class="row">
  {% for x in players %}
  <div class="col">
    <h3>{{ x.name }}: </h3>{{x.points}}
  </div>
  {% endfor %}
  <div class="col">
    <h3><b>Nächster Spieler: </b>{{next_player}}</h3>
    <p>
      {% if next_player_random %}
      Zufällig gewählt, keine vorherige korrekte Antwort
      {% else %}
      Spieler hat die letzte Frage richtig beantwortet
      {% endif %}
    </p>
  </div>
</div>
<div class="row">
  {% for x in categories %}
  <div class="col">
    <h3>{{ x.name }}</h3>
  </div>
  {% endfor %}
</div>

<div class="row">
  {% for x in aq %}
  
  <div class="col d-grid gap-2">
    {% for y in x %}
    {% if y.aq and y.asked == False %}
    <a href="/play/{{ gameround.id }}/answer/{{y.aq.id}}" class="btn btn-primary" role="button"><h3>{{y.aq.points}}</h3><br></a>
    {% elif y.aq and y.asked == True %}
    <a href="/play/{{ gameround.id }}/answer/{{y.aq.id}}" class="btn btn-dark" role="button"><h3>{{y.aq.points}}</h3><br>{{y.player_correct}}</a>
    {% else %}
    <button type="button" class="btn btn-lg btn-primary" disabled>Leider sind uns die Antworten ausgegangen!</button>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}