{% extends "base.html" %}
{% block site-title %}Spiel "{{ gameround.name }}"{% endblock %}

{% block content %}
<h4><b>{{answer.category}}</b> für <b>{{answer.points}}</b></h4>
<div class="row">
  <div class="col">
    <h4>Gesucht war:</h4>
    <h1>{{ answer.question_text }}</h1>
    {% if answer.question_media_type == "I" and answer.question_media %}
    <img src="{{ answer.question_media.url }}" width="70%" class="img-fluid">
    {% elif answer.question_media_type == "V" %}
    {% endif %}
  </div>
</div>
<div class="row mt-5">
<div class="col">
  {% if player_correct %}
  <h4>{{player_correct}} bekommt <b>{{answer.points}}</b> Punkte</h4>
  {% else %}
  <h4>Leider hatte niemand die richtige Antwort!</h4>
  {% endif %}
</div>
</div>
<div class="row">
{% for p in players %}
<div class="col d-grid gap-2">
  <h3>{{p.name}} TODO Points</h3>
  </div>
{% endfor %}
</div>
<div class="row mt-5">
<div class="col d-grid gap-2">
  <a href="/play/{{ gameround.id }}" class="btn btn-primary" role="button">Zurück zum Board</a>
</div>
</div>
{% endblock %}